/*
 * 俄罗斯方块
 * 
 * @author 张宝财 <talent518@yeah.net>
 * @copyright 张宝财 <talent518@yeah.net>
 */

.g-tetris{display:inline-block;position:relative;width:382px;height:502px;margin:0 5px 10px;border:1px #666 solid;background:white;font-size:14px;text-align:left;}
.g-tetris-title{padding:0 10px;border-bottom:1px #666 solid;background:#efefef;line-height:30px;font-weight:bold;}
.g-tetris-main-box{display:inline-block;position:absolute;left:10px;top:41px;width:249px;height:449px;overflow:hidden;border:1px #666 solid;}
.g-tetris-next-box{display:inline-block;position:absolute;right:10px;top:41px;width:99px;height:99px;overflow:hidden;border:1px #666 solid;}
.g-tetris-block{display:inline-block;position:absolute;width:24px;height:24px;border-left:0px white none;border-top:0px white none;border-right:1px #f2f2f2 solid;border-bottom:1px #f2f2f2 solid;background:white;}
.g-tetris-block-color{width:23px;height:23px;border-width:1px;border-style:solid;}
.g-tetris-text-box{display:inline-block;position:absolute;overflow:hidden;}
.g-tetris-text-box p{margin:0px;padding:0px;text-align:center;}
.g-tetris-text-box label{display:block;font-size:12px;}
.g-tetris-text-box span{display:block;overflow:hidden;text-overflow:ellipsis;}
.g-tetris-text-box .g-num{color:#f60;font-size:18px;font-weight:bold;}
.g-tetris-text-box .g-key{color:gray;font-size:12px;}
.g-tetris-text-box .g-key-box{border-top:1px #666 solid;}
.g-tetris .g-tetris-text-box{right:10px;bottom:10px;width:99px;height:338px;border:1px #666 solid;line-height:24px;}

.g-tetris-shape{display:block;position:relative;width:909px;padding-top:31px;border:1px #666 solid;background:white;font-size:14px;text-align:left;}
.g-tetris-shape .g-tetris-title{margin-top:-31px;}
.g-tetris-shape .g-tetris-text-box{right:0px;bottom:0px;width:99px;height:auto;border-left:1px #666 solid;line-height:30px;}
.g-tetris-shape-setting{float:right;cursor:pointer;font-size:12px;}
.g-tetris-shape-setting:hover{color:#F60;}
.g-tetris-shape-box{display:inline-block;position:absolute;width:99px;height:99px;overflow:hidden;margin-top:31px;border-right:1px #666 solid;border-bottom:1px #666 solid;}
.g-tetris-shape-box .g-tetris-block{text-align:center;line-height:24px;color:gray;font-size:9px;font-family:arial;}
.g-tetris-shape-box-timer{top:0px;right:-1px;border-left:1px #666 solid;}
.g-tetris-shape-checkbox{display:inline-block;position:absolute;z-index:1;width:99px;height:99px;overflow:hidden;margin-top:31px;cursor:pointer;filter:alpha(opacity = 0);opacity:0.0;}
.g-tetris-shape-checked{text-indent:1000px;filter:alpha(opacity = 75);opacity:0.75;background:url(checked.png) 30px 30px no-repeat;}

body{min-width:640px;min-height:471px;}

.g-tetris-setting-dialog-mask{display:block;position:fixed;z-index:998;left:0px;top:0px;width:100%;height:100%;overflow:hidden;background:#333;filter:alpha(opacity = 60);opacity:0.6;}
.g-tetris-setting-dialog{display:block;position:absolute;z-index:999;left:50%;top:50%;width:600px;height:431px;margin-left:-300px;margin-top:-215px;border:1px #333 solid;background:white;font-size:14px;text-align:left;}
.g-tetris-setting-dialog-scroll{height:400px;overflow:auto;}
.g-tetris-global-setting{margin-top:-1px;}
.g-tetris-form-title{line-height:22px;font-size:12px;border-top:1px #999 solid;filter:alpha(opacity = 80);opacity:0.8;}
.g-tetris-form-row{padding:10px;border-top:1px #eee solid;}
.g-tetris-form-row:after{display:block;content:'.';width:0px;height:0px;overflow:hidden;clear:both;}
.g-tetris-form-label{float:left;}
.g-tetris-form-field{margin-left:4em;}
.g-tetris-setting-dialog-buttons{border-top:1px #666 solid;}
.g-tetris-setting-dialog-buttons button{margin-right:10px;}

.g-tetris-button-start-game,.g-tetris-button-add-player,.g-tetris-button-delete-player{float:right;margin-left:10px;cursor:pointer;font-size:12px;}

.g-tetris-gradient{
    background: -moz-linear-gradient(top, #fefefe 0%, #d7d7d7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#d7d7d7));
    background: -webkit-linear-gradient(top, #fefefe 0%,#d7d7d7 100%);
    background: -o-linear-gradient(top, #fefefe 0%,#d7d7d7 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,#d7d7d7 100%);
    background: linear-gradient(to bottom, #fefefe 0%,#d7d7d7 100%);
}
